:host{
 height: 100vh;
 display: block;
 background-color: rgb(192, 166, 228);
 border: 1px solid  ;
}
.custom-card{
    width: 350px;
    max-width: 100%;
    background-color: aliceblue;
}
.user-icon{
    font-size: 100px;
    color: rgb(68, 116, 160);
}