<section class="page_404">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 col-sm-offset-1  text-center">
					<div class="four_zero_one_bg">
						<h1 class="text-center">401</h1>
					</div>

					<div class="contant_box_404">
						<h3 class="h2">
							Stop
						</h3>

						<p>Unauthorized! Access to this resource is denied.</p>

						<a [routerLink]="['/home']" class="link_401">Go to Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>