<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">

<div class="navbar navbar-expand navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
  <a href="#" class="navbar-brand ms-1">
  <img
  width="40"
   alt="logo"
    src="/assets/image/couponIcon.png"
  />

 
  <span>       Welcome</span>
</a>

<div class="navbar-nav me-auto">
  
  <li class="nav-item">
   
    <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">Home</a>

  </li>
  <li class="nav-item" *ngIf="isAdmin()">
    <a [routerLink]="['/admin']" routerLinkActive="active" class="nav-link">Admin</a>
  </li>
  <li class="nav-item" *ngIf="isCustomer()">
    <a [routerLink]="['/user']" routerLinkActive="active" class="nav-link">Customer</a>
  </li>
  <li class="nav-item" *ngIf="isCompany()">
    <a [routerLink]="['/company']" routerLinkActive="active" class="nav-link">Company</a>
  </li>

 
</div>
<div class="navbar-nav ms-auto"  *ngIf="!currentUser?.id">
<li class="nav-items">
  <a [routerLink]="['/register']" routerLinkActive="active" class="nav-link">Sign Up</a>
</li>
<li class="nav-items me-1">
  <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link">Sign In</a>
</li>
</div>
<div class="navbar-nav ms-auto" *ngIf="currentUser?.id">
  <li class="nav-item">
    <a [routerLink]="['/user']" routerLinkActive="active" class="nav-link">
      {{currentUser.username}}
    </a>
  </li>
  <li class="nav-item me-1">
    <a (click)="logOut()" class="nav-link"
    style="cursor: pointer;">
      Sign Out
    </a>
  </li>
</div></div>
</div>
<router-outlet></router-outlet>
