<div class="row m-0 ">
  <div class="col-1 px-0 position-fixed" style="background-color: rgb(218, 218, 218);" >
      <div class="nav flex-column flex-nowrap text-white p-1" style="height: 104vh !important;">
          <nav>   
            <br>
            <a [routerLink]="['/admin/profile']" class="nav-link" style="color: rgb(233, 232, 230);">My Profile</a>
              <br>
              <a [routerLink]="['/admin/get']" class="nav-link"style="color: rgb(233, 232, 230);">View All Coupons</a>
              <br>
              <a [routerLink]="['/admin/allusers']" class="nav-link" style="color: rgb(233, 232, 230);">All Users</a>
              <br>
              <a [routerLink]="['/admin/byroles']" class="nav-link" style="color: rgb(233, 232, 230);">search based on Roles</a>
              <br>
              <a [routerLink]="['/admin/addusers']" class="nav-link" style="color: rgb(233, 232, 230);">Add User</a>
              <br>
              <a [routerLink]="['/admin/addcoupon']" class="nav-link" style="color: rgb(233, 232, 230);">Add Coupon</a>
              <br>
          </nav>
      </div>
  </div>
  <div class="col-12 px-0 offset-1 position-fixed" style="background-image: url(/assets/image/welcome.jpg);">
      <div class="nav flex-column flex-nowrap overflow-auto p-1" style="height: 100vh !important">
          <router-outlet></router-outlet>
          <br>
          <br>
      </div>
  </div>
  <app-footer></app-footer>
</div>