
<div class="homeBackground">
    <img src="/assets/image/homeBackground.jpg" width="100%" height="100%">
    <div class="top-right">
  
      <div class="container mt-3" style="background-color: rgba(0, 0, 0, 0.123);opacity: 0.7; text-align: center;">
  
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
  
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          </ul>
  
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <p>
                <span style="font-size: xx-large;">Welcome</span> to our Deals and coupons Finder Appliation system <br>
                <br>
  
                My project allows companies to generate coupons as part of their advertising and marketing campaigns.
                The system also contains registered customers, these customers can view coupons and 
                use those coupons in repective websites.
                
              </p>
            </div>
          </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 ">
              <blockquote>
                <h5>MAHESH</h5>
              </blockquote>
  
              maheshnani913@gmail.com<br>
  
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>